* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*HTML, Body, Parapgraph*/
body{
  background-color: black;
  color: antiquewhite;
}

p{
  padding: 10px 20px;
}

/*Header*/
.header{
   height: 80vh;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   font-size: 2em;
   text-align: center;
}

.header h1{
  padding-top: 30vh;
  font-size: 1em;
}

.header h2{
  font-size: 1.1em;
}

h3{
  padding: 10px 20px;
  font-size: 1.5em;
}

h4{
  padding-top: 10px ;
}

.center-text h4{
  font-weight: 900;
  padding: 5px 0;
  font-size: 1.3em;
}

.center-text li{
  padding: 10px 0;
  font-size: .9em;
  margin-left: 50%;
}

.center-text h5{
  font-size: 1em;
}

/*Navigation Bar*/
.navbar{
  background-color: black;
  color: whitesmoke;
  align-items: center;
  text-align: center;
  display: flex;
  overflow: scroll;
  padding: 10px 0;
}

.navbar img{
  width: 50px;
  height: 50px;
}

.navbar li{
  padding: 0 40px;
}

.navbar a{
  text-decoration: none;
}

.navbar a:hover{
  text-decoration: underline;
  text-decoration-color: whitesmoke;
  text-underline-offset: 10px;
  }
  
/*Sections*/
.overview {
  background-color: rgba(0, 0, 0, 0.30);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.facts{
  padding: 10px;
}

.facts ul {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.facts li {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin: 0 5px 0 5px;
  border-radius: 10px;
  text-align: center;
  align-content: center;
}

.feauture{
  background-image: linear-gradient(to bottom, #321D5E, #1F123E, #493088, #886AB5);
  padding: 10px 0 10px 0;
}

.detail-grid{
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 10px 20px;
}

.detail-grid li{
  padding: 10px 0;
}

.moon{
  text-align: right;
  height: auto;
}

.moon li{
  padding: 5px 20px;
  text-align: justify;
  background-color :rgba(0, 0, 0, 0.20);
}

.moon p{
  text-align: left;
  background-color :rgba(0, 0, 0, 0.20);
  padding: 0 10px;
}

.moon h3{
  background-color :rgba(0, 0, 0, 0.20);
}

.moon h4{
  background-color :rgba(0, 0, 0, 0.20);
}

table{
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  padding-top: 10px;
  background-color :rgba(0, 0, 0, 0.20);
}

td, th{
  padding: 5px;
}

th{
  background-color: grey;
}

td:first-child{
  font-weight: 800;
}

.explore{
  background-image: linear-gradient(to bottom, #2D1D7A, #573170, #804565, #AA585B, #D36C50 ,#FD8046);
  padding: 10px;
  opacity: 90%;
}
  
/*Information Text*/
.center-text{
  text-align: center;
}

.right-text{
  text-align: right;
}

/*ExsploreUniverseSection*/
.explore{
  display: grid;
  grid-template-columns: 50% 50%;
  font-size: .8em;
}

.explore a{
  text-decoration: none;
  color: whitesmoke;
}

.explore li{
  padding: 5px 0;
}

input[type=text], input[type=submit]{
  width: 90%;
  padding: 10px 0;
  display: inline-block;
  background-color: rgba(164, 172, 255, 0.1);
  color: whitesmoke;
  border: none;
}

input[type=submit]:hover{
  opacity: 0.8;
}

.subscribe{
  padding-top: 10px;
}

.Planet-grid{
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px 0;
}

/*Footer*/
footer {
  background: black;
  padding: 15px 23px;
  color: antiquewhite;
  text-align: center;
}

footer span a {
  color: red;
  text-decoration: none;
}

footer span a:hover {
  text-decoration: underline;
}

/*Planets Colors*/
#solar {
  color: whitesmoke;
}

#SolarHead {
  background-image: url(/SolarSystemImg/SolarHead.webp);
}

#SolarOverview {
  background-image: url(/SolarSystemImg/SolarOverview.jpg);
}

#SolarFeauture {
  background-image: linear-gradient(to bottom, #f48a36, #c77d4e, #b6732f, #725130, #b49b63)
}

#SolarMoon {
  background-image: url(/SolarSystemImg/SolarMoons.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#sun {
  color: orangered;
}

#TheSun {
  background-image: url(/SolarSystemImg/TheSunHeader.webp);
}

#SunOverview {
  background-image: url(/SolarSystemImg/TheSunOverview.webp);
}

#TheSunFeauture {
  background-image: linear-gradient(to bottom, #C12600, #DA2B27, #EA5A3E, #F68656, #8A0000);
}

#mercury {
  color: #856359;
}

#MercuryHead {
  background-image: url(/SolarSystemImg/MercuryHead.jpg);
}

#MercuryOverview {
  background-image: url(/SolarSystemImg/MercuryOverview.jpg);
}

#MercuryFeauture {
  background-image: linear-gradient(to bottom, #ecd67e, #d4bf65, #d4c99c, #5767b4, #858fdd);
  color: black;
}

#venus {
  color: #FFF9A8;
}

#VenusHead {
  background-image: url(/SolarSystemImg/VenusHead.jpg);
}

#VenusOverview {
  background-image: url(/SolarSystemImg/VenusOverview.jpg);
}

#VenusFeauture {
  background-image: linear-gradient(to bottom, #a57c1b, #c18f17, #e39e1c, #f9c21a, #e7d520);
  color: black;
}

#earth {
  color: #00AD3A;
}

#EarthHead {
  background-image: url(/SolarSystemImg/EarthHead.jpg);
}

#EarthOverview {
  background-image: url(/SolarSystemImg/EarthOverview.jpg);
}

#EarthFeauture {
  background-image: linear-gradient(to bottom, #4f4cb0, #6b93d6, #e9eff9, #9fc164, #d8c596);
  color: black;
}

#EarthMoon {
  background-image: url(/SolarSystemImg/EarthMoon.jpg);
}

#mars {
  color: #D15E5E;
}

#MarsHead {
  background-image: url(/SolarSystemImg/MarsHead.jpg);
}

#MarsOverview {
  background-image: url(/SolarSystemImg/MarsOverview.jpg);
}

#MarsFeauture {
  background-image: linear-gradient(to bottom, #f48a36, #c77d4e, #b6732f, #725130, #b49b63)
}

#MarsMoon {
  background-image: url(/SolarSystemImg/MarsMoon.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#jupiter {
  color: #EBB271;
}

#JupiterHead {
  background-image: url(/SolarSystemImg/JupiterHead.jpg);
}

#JupiterOverview {
  background-image: url(/SolarSystemImg/JupiterOverview.jpeg);
}

#JupiterFeauture {
  background-image: linear-gradient(to bottom, #ebf3f6, #e3dccb, #d8ca9d, #a59186, #c99039);
  color: black;
}

#JupiterMoon {
  background-image: url(/SolarSystemImg/JupiterMoon.jpg);
  color: black;
}

#saturn {
  color: #EFFF58;
}

#SaturnHead {
  background-image: url(/SolarSystemImg/SaturnHead.jpg);
}

#SaturnOverview {
  background-image: url(/SolarSystemImg/SaturnOverview.jpg);
}

#SaturnFeauture {
  background-image: linear-gradient(to bottom, #ebf3f6, #e3dccb, #d8ca9d, #a59186, #c99039);
  color: black;
}

#SaturnMoon {
  background-image: url(/SolarSystemImg/SatuenMoon.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#uranus {
  color: #00FFD0;
}

#UranusHead {
  background-image: url(/SolarSystemImg/UranusHead.jpg);
}

#UranusOverview {
  background-image: url(/SolarSystemImg/UranusOverview.jpg);
}

#UranusFeauture {
  background-image: linear-gradient(to bottom, #e1eeee, #d1e7e7, #c6d3e3, #f8f8ff, #d9ddfe);
  color: black;
}

#UranusMoon {
  background-image: url(/SolarSystemImg/UranusMoon.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#neptune {
  color: #0062FF;
}

#NeptuneHead {
  background-image: url(/SolarSystemImg/NeptuneHead.jpeg);
}

#NeptuneOverview {
  background-image: url(/SolarSystemImg/NeptuneOverview.jpeg);
}

#NeptuneFeauture {
  background-image: linear-gradient(to bottom, #5b5ddf, #3f54ba, #274687, #d5d5ec, #85addb);
  color: black;
}

#NeptuneMoon {
  background-image: url(/SolarSystemImg/NeptuneMoon.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Media Queries*/
@media only screen and (max-width: 500px){
  .navbar {
  display: inline;
}

.navbar li {
  padding: 10px 5px;
}

li.space-holder, .navbar img{
  display: none;
}

.facts ul {
  display: inline;
}

.facts li{
  margin: 10px 0;
}

.center-text, .right-text {
  text-align: left;
}

.detail-grid {
  display: grid;
  grid-template-columns: 100%;
}

td, th{
  padding: 1px;
}

.explore {
  display: grid;
  grid-template-columns: 100%;
}

input[type=text], input[type=submit]{
  width: 100%;
}
}
}