* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*Body*/
body{
  background-color: black;
  color: antiquewhite;
}

/*Header*/
.header{
  background-image: url("/SolarSystemImg/SolarSystemHeader.png");
    height: 80vh;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

/*Navigation Bar*/
.navbar{
  background-color: black;
  color: whitesmoke;
  align-items: center;
  text-align: center;
  display: flex;
  overflow: scroll;
}

.navbar li{
  padding: 50px 40px;
}

.navbar a{
  text-decoration: none;
}

/*Planets Colors*/
#sun{
  color: orangered;
}

#mercury{
  color: #856359;
} 

#venus{
  color: #FFF9A8;
}

#earth{
  color: #00AD3A;
}

#mars{
  color: #D15E5E;
}

#jupiter{
  color: #EBB271;
}

#saturn{
  color: #EFFF58;
}

#uranus{
  color: #0062FF;
}

#neptune{
  color: #00FFD0;
}

.navbar a:hover{
  text-decoration: underline;
  text-decoration-color: whitesmoke;
  text-underline-offset: 10px;
  }