* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*HTML, Body, Parapgraph*/
body{
  background-color: black;
  color: antiquewhite;
}

p{
  padding: 10px 20px;
}

/*Header*/
.header{
  background-image: url("/SolarSystemImg/SolarSystemHeader.png");
    height: 80vh;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   font-size: 2em;
   text-align: center;
}

.header h1{
  padding-top: 30vh;
  font-size: 1em;
}

.header h2{
  font-size: 1.1em;
}

h3{
  padding: 10px 20px;
  font-size: 1.5em;
}

.center-text h4{
  font-weight: 900;
  padding: 5px 0;
  font-size: 1.3em;
}

.center-text li{
  padding: 10px 0;
  font-size: .9em;
  margin-left: 50%;
}

.center-text h5{
  font-size: 1em;
}

/*Navigation Bar*/
.navbar{
  background-color: black;
  color: whitesmoke;
  align-items: center;
  text-align: center;
  display: flex;
  overflow: scroll;
}

.navbar li{
  padding: 50px 40px;
}

.navbar a{
  text-decoration: none;
}

/*Planets Colors*/
#sun{
  color: orangered;
}

#mercury{
  color: #856359;
} 

#venus{
  color: #FFF9A8;
}

#earth{
  color: #00AD3A;
}

#mars{
  color: #D15E5E;
}

#jupiter{
  color: #EBB271;
}

#saturn{
  color: #EFFF58;
}

#uranus{
  color: #0062FF;
}

#neptune{
  color: #00FFD0;
}

.navbar a:hover{
  text-decoration: underline;
  text-decoration-color: whitesmoke;
  text-underline-offset: 10px;
  }
  
/*Sections*/
.overview {
  background-image: url(/SolarSystemImg/SolarSystemOverview.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}

.overview p {
  background-color: rgba(0, 0, 0, 0.30);
}

.facts ul {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 20vh 0 0 0;
}

.feauture{
  background-image: linear-gradient(to bottom, #321D5E, #1F123E, #493088, #886AB5) ;
  padding: 10px 0 10px 0;
}

.facts li {
  background-color: black;
  padding: 20px 50px;
  margin: 0 10px 0 10px;
  border-radius: 10px;
}

.detail-grid{
  display: grid;
  grid-template-columns: 50% 50%;
}

.moon{
  text-align: right;
  background-image: url(/SolarSystemImg/SolarMoons.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}
  
/*Information Text*/
.center-text{
  text-align: center;
}

.right-text{
  text-align: right;
}

/*ExsploreUniverseSection*/
.explore{
  display: grid;
  grid-template-columns: 50% 50%;
}

/*Footer*/
footer {
  background: black;
  padding: 15px 23px;
  color: antiquewhite;
  text-align: center;
}

footer span a {
  color: red;
  text-decoration: none;
}

footer span a:hover {
  text-decoration: underline;
}